body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.nav-wrapper a {
    width: clamp(200px, 50% + 20px, 800px);
}

nav .sidenav-trigger i {
    float: right;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    margin: 0;
    line-height: 2;
}

.flashes {
    margin: 0;
}

.main_container {
    margin: 0;
}


/* ----------------------------------------Footer */
.social-links li a i {
    width: 65px;
    height: 65px;
    padding: 27px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links li a i:hover {
    background: #e84610;
    animation: spin 1s;
}

@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* --------------------------------- Detail Page*/
.add_detail_image{
    background: url(../images/hiking_img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hike_page_container {
    margin: 0;
}

.collection {
    opacity: 0.9;
    border-radius: 25px;
    border: none;
}

.collection i {
    padding: 20px;
}

/* --------------------------------- Hikes Page*/
.parallax-container h2 {
    margin: 0;
    padding: 20px 20px;
}

.hikes_home {
    background-image: linear-gradient(to bottom right, rgba(8, 128, 158, 0.651) 1%, rgb(255, 255, 255, 0));
    margin: 0;
}


.hikes_home .card {
    opacity: 0.9;
    border-radius: 25px;
    border: none;
}

.landing_description {
    margin: 0;
}

.landing_description h4 {
    margin: 0;
}

.landing_icon_1 {
    background-image: url(../images/landing_icon_1.jpg);
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 3.75rem;
    margin-left: 0;
    margin-right: 0;

}


.landing_icon_1 i {
    font-size: 4rem;
    color: #fffef7;
    filter: drop-shadow(2px 3px 3px black);
}

.landing_icon_2 {
    background-image: url(../images/landing_icon_2.jpg);
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 3.75rem;
}

.landing_icon_2 i {
    font-size: 4rem;
    color: #fffef7;
    filter: drop-shadow(2px 3px 3px black);
}


.landing_icon_3 {
    background-image: url(../images/landing_icon_3.jpg);
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 3.75rem;
}

.landing_icon_3 i {
    font-size: 4rem;
    color: #fffef7;
    filter: drop-shadow(2px 3px 3px black);
}

.row.landing_icon_3 {
    margin-right: 0;
    margin-left: 40px;
}

.row.landing_icon_2 {
    margin-right: 0;
    margin-left: 40px;
    
}

.row.landing_icon_1 {
    margin-right: 0;
    margin-left: 40px;
    
}
/* ----------------------------Search Bar*/

.parallax-container .card-panel{
    opacity: 0.9;
    border-radius: 25px;
    border: none;
    
}

@media only screen and (min-width: 768px) {
    .search_buttons {
    margin-top: 20px;
}
  }

/* ----------------------------------------Contact Page */

.add_contact_image {
    background: url(../images/hiking_img2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.add_contact_image h3 {
    margin: 0;
    padding: 20px;
}

.container .contact_request {
    opacity: 0.9;
    border-radius: 25px;
    border: none;
    margin: 0;
}

  .contact_request, input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contact_request label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.contact_request input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contact_request input[type=submit]:hover {
  background-color: #45a049;
}

.container .contact_request {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact_request .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.contact_request .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.contact_request .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .contact_request, .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* -----------------------------------Add hike */
.add_edit_image{
    background: url(../images/landing_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.add_edit_image h3 {
    margin: 0;
    padding: 20px 20px;
}

.add_edit_container {
     opacity: 0.9;
    border-radius: 25px;
    border: none;
    padding-bottom: 20px;
    margin: 0;
}

/* -----------------------------------Profile page */

.profile_background {
    background: url(../images/hiking_img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile_container {
    margin-bottom: 0;
}

.profile_container .card {
    opacity: 0.9;
    border-radius: 25px;
    border: none;
}

.profile_background .card-panel {
    margin: 0;
}

/* -----------------------------------Login page */
.add_login_image {
    background: url(../images/hiking_img3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.add_login_image h3 {
    margin: 0;
    padding: 20px 20px;
}

.login_redirect{
    margin: 0;
}

.add_login_image .button {
    border-radius: 25px;
}