{% extends "base.html" %}
{% block content %}


    <div class="row">
    {% for hike in hikes %}
        <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">{{ hike.hike_name }}</span>
                <p>{{ hike.hike_duration }}</p>
                <p>{{ hike.hike_difficulty }}</p>
                <p>{{ hike.county_name }}</p>
                <p>{{ hike.hike_description }}</p>
                <p>{{ hike.hike_distance }}</p>
            {% if hike.is_parking == "on" %}
                <p>Parking</p>
            {% else %}
                <p>No Parking</p>
            {% endif %}
            <p><em>by : {{ hike.created_by }}</em></p>

        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_hike', hike_id=hike._id) }}">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}