{% extends "base.html" %}
{% block content %}

<div class="add_detail_image">
<div class="container">
<div class="row">
    <div class="col s12 center-align">
        <strong>
            <h3>{{ hike.hike_name }}</h3>
        </strong>
    </div>
</div>
<div class="row hike_page_container">
    <div class="col s12 m4">
    <iframe
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmPwbycvT2rSTl_s3DnROSRQ98176kDyg&q={{hike.hike_name}}+{{hike.county_name}}">
    </iframe>
    <p>{{- hike.hike_description -}}</p>
    </div>
    <div class="col s12 m8">
        <ul class="collection">
    <li class="collection-item"> 
                <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title">County {{ hike.county_name }}</span>
    </li>
    <li class="collection-item">
       <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title"> {{ hike.hike_distance }}</span>
    </li>
    <li class="collection-item">
       <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title"> {{ hike.hike_difficulty }}</span>
    </li>
    <li class="collection-item">
      <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title">{{ hike.hike_duration }}</span>
    </li>
    <li class="collection-item">
      <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title">
                        {% if hike.is_parking == "on" %}
                Parking
                {% else %}
                No Parking
                {% endif %}</span>
    </li>
    <li class="collection-item">
      <i class="fas fa-map-marker-alt center-align"></i>
                    <span class="title">
                        {% if hike.is_dog_friendly == "on" %}
                        Dog Friendly
                        {% else %}
                        Not dog friendly
                        {% endif %}</span>
    </li>
  </ul>
    </div>

</div>
</div>
</div>

{% endblock %}