{% extends "base.html" %}
{% block content %}

<div class="add_detail_image">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <strong>
                    <h3>{{ hike.hike_name }}</h3>
                </strong>
            </div>
        </div>
        <div class="row hike_page_container">
            <div class="col s12 m6">
                <iframe frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmPwbycvT2rSTl_s3DnROSRQ98176kDyg&q={{hike.hike_name}}+{{hike.county_name}}">
                </iframe>
                <p>{{- hike.hike_description -}}</p>
            </div>
            <div class="col s12 m6">
                <ul class="collection">
                    <li class="collection-item">
                        <i class="fas fa-map-marker-alt center-align"></i>
                        <span class="title">County {{ hike.county_name }}</span>
                    </li>
                    <li class="collection-item">
                        <i class="fas fa-shoe-prints center-align"></i>
                        <span class="title"> {{ hike.hike_distance }}</span>
                    </li>
                    <li class="collection-item">
                        <i class="fas fa-dumbbell center-align"></i>
                        <span class="title"> {{ hike.hike_difficulty }}</span>
                    </li>
                    <li class="collection-item">
                        <i class="fas fa-clock center-align"></i>
                        <span class="title">{{ hike.hike_duration }}</span>
                    </li>
                    <li class="collection-item">
                        <i class="fas fa-car center-align"></i>
                        <span class="title">
                            {% if hike.is_parking == "on" %}
                            Parking
                            {% else %}
                            No Parking
                            {% endif %}</span>
                    </li>
                    <li class="collection-item">
                        <i class="fas fa-dog center-align"></i>
                        <span class="title">
                            {% if hike.is_dog_friendly == "on" %}
                            Dog Friendly
                            {% else %}
                            Not dog friendly
                            {% endif %}</span>
                    </li>
                    <li class="collection-item">
                        {% if session.user|lower == hike.created_by|lower %}
                        <a class="waves-effect waves-light btn" href="{{ url_for('edit_hike', hike_id=hike._id) }}">
                            Edit</a>
                        <a class="waves-effect waves-light btn modal-trigger " href="#modal1">Delete</a>
                        {% endif %}
                    </li>
                </ul>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Are you Sure you want to delete?</h4>
                        <p>Your hike will be permanently removed from the database</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_hike', hike_id=hike._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <a href="{{ url_for('hike_page', hike_id=hike._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}